* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
}


/* body {
    
} */

p {
    margin: 0 !important;
    font-size: 12px;
    padding: 0 !important;
}

li {
    list-style: none;
}


/*Top Header Section */

.top-header {
    background-color: #383e56;
    color: #fff;
    padding: 10px 50px;
}

.header-left {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-left p {
    text-transform: uppercase;
}

.header-left a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}

.header-left a:hover {
    color: orange;
}

.header-middle {
    height: 100%;
    display: flex;
    align-items: center;
}

.carousel-item p {
    font-size: 16px;
}

.header-last {
    height: 100%;
    text-align: center;
}

.header-last ul {
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
    float: right;
}

.header-last ul a {
    margin-left: 10px;
}

.header-last ul li {
    list-style: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
}

.header-last ul li:hover {
    color: orange;
}

.li-icon {
    font-size: 10px;
    text-align: center;
    margin-right: 3px;
}

.li-style {
    display: flex;
}


/* Nav Header Section */

.nav-header {
    padding: 10px 0;
}

.logo-holder {
    max-width: 50% !important;
}

.logo img {
    width: 100%;
}

.nav-icon-holder {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon-holder a {
    color: #000;
    margin-right: 50px
}

.nav-icon-holder a:hover {
    color: #000;
}

.outline input {
    outline: none !important;
}

input:focus::-webkit-input-placeholder {
    outline: none;
    opacity: 0;
}

.dropdown {
    border: none;
    background-color: transparent;
}

.dropdown-toggle::after {
    visibility: hidden;
}

.dropdown-menu {
    border: none !important;
    padding: 0 20px !important;
    display: block;
    transform: translate(-10px, -3px);
    animation: downup .5s ease 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
}

@keyframes downup {
    0% {
        transform: translate(-10px, 30px);
    }

    100% {
        transform: translate(-10px, -3px);
    }
}

.dropdown-menu a.item-1:hover {
    background-color: #272c40 !important;
}

.dropdown-menu a.item-2:hover {
    background-color: rgb(227, 152, 12) !important;
}


/* Category Section */

.category {
    background-color: #383e56;
    width: 100%;
    padding: 0px 50px;
}

.category ul {
    display: flex;
    align-items: center;
    margin-bottom: .2rem;
}

.category ul a {
    color: #fff;
    text-decoration: none;
    margin: 0px 10px 0px 0;
    padding: 5px 10px;
}

.category ul li {
    list-style: none;
}

.cate-head a:hover {
    color: darkorange !important;
    background-color: transparent !important;
}

.cate-sub ul li a:hover {
    color: darkorange !important;
    background-color: transparent !important;
}

.cate-container {
    display: none !important;
    transform: translateY(3px);
    animation: downups .6s ease 1;
    border: 1px solid rgb(250, 248, 248);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@keyframes downups {
    0% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(3px);
    }
}

.cate-show-title:hover .cate-container {
    display: block !important;
}

.cate-show-title {
    padding: 5px 0;
}

.cate-show-title:hover {
    background-color: orange;
}


/* Carousel Section */

.carousel-main {
    overflow: hidden;
}


/* Trending Week Line */

.trending-week-line {
    margin: 30px 0;
    padding: 0px 50px;
}

.trending-para {
    font-size: 25px;
    text-transform: uppercase;
    position: relative;
    display: block;
    overflow: hidden;
}

.trending-para::after {
    content: '';
    height: 1px;
    background-color: rgb(123, 121, 121);
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    overflow: hidden;
}


/* Trending Card Carousel */

.trending-card-slider {
    padding: 0px 50px;
}

.cards-wrapper {
    display: flex;
}

.cards:hover {
    border: 2px solid orange;
    transition: .3s;
    cursor: pointer;
}


/* Best Offers And More Card Section */

.card-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid orange;
}

.card-shadow:hover {
    border: none !important;
    cursor: pointer;
    background-color: rgb(252, 250, 250);
    color: orange;
}


/* More To Explore */

.more-to-explore {
    padding: 0px 50px;
}

.more-to-para {
    font-size: 25px;
    text-transform: uppercase;
    position: relative;
    display: block;
    overflow: hidden;
}

.more-to-para::after {
    content: '';
    height: 1px;
    background-color: rgb(123, 121, 121);
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-33%, -50%);
    overflow: hidden;
}